snippet dial "\begin{dialogue} ..."
\begin{dialogue}
	\speak{${1}}
	\speak{${2}}
\end{dialogue}
endsnippet

snippet book "Latex book Boilerplate"
\documentclass[a4paper]{book}
\usepackage{kotex}
\usepackage{setspace}
\usepackage{dialogue}
\setmainfont{}
\onehalfspacing{}

\title{}
\date{\today}
\author{}

\begin{document}
	\maketitle
	\clearpage
	\tableofcontents
	\clearpage
\end{document}
endsnippet
